<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static", filename="style/main.css")}}'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Wizard Search</title>
</head>
<body>
 
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">{% block head %}{% endblock %}</div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <form method="post">
                <label for="search">Search:</label>
                <input type="text" name="searchQuery">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <table>
                {% for file in results %}
                    {% if file[1]!=0 %}
                    <div>{{ file[0] }}  {{ file[1] }}</div>
                    {% else %}
                        {{ pass }}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="grid-item"></div>
    </div> 
    <p>{{ r }}</p>
      {% block body %}{% endblock %}
      
</body>
</html>